name: Build APK

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install buildozer cython

      - name: Build APK
        run: |
          buildozer init
          buildozer android debug
